# 20 Tuple Questions: Basic to Advanced

A comprehensive guide to Python tuples with 20 practical questions covering all concepts from beginner to expert level.

## Section 1: Creating Basic Tuples

### Question 1: Create a tuple with 5 elements and an empty tuple
Create two tuples: one with numbers 1-5 and one empty tuple. Print both.

**Hint:** Use parentheses for tuples and comma to separate elements.

In [ ]:
# Question 1 Solution
tuple_numbers = (1, 2, 3, 4, 5)
empty_tuple = ()

print("Tuple with numbers:", tuple_numbers)
print("Empty tuple:", empty_tuple)
print("Type of tuple:", type(tuple_numbers))
print("Type of empty tuple:", type(empty_tuple))

### Question 2: Create a single element tuple
Create a tuple with only one element (the number 42). Why is a comma necessary?

In [ ]:
# Question 2 Solution
single_element_tuple = (42,)  # Comma is essential!
not_tuple = (42)  # This is just an integer with parentheses

print("Single element tuple:", single_element_tuple)
print("Type:", type(single_element_tuple))
print("\nWithout comma:", not_tuple)
print("Type:", type(not_tuple))
print("\nThe comma is necessary to distinguish a tuple from just parentheses around a value")

## Section 2: Accessing Tuple Elements

### Question 3: Access elements using positive and negative indexing
Access the first, last, and middle element of the tuple ('a', 'b', 'c', 'd', 'e') using both positive and negative indices.

In [ ]:
# Question 3 Solution
my_tuple = ('a', 'b', 'c', 'd', 'e')

# Positive indexing
print("First element (positive):", my_tuple[0])
print("Middle element (positive):", my_tuple[2])
print("Last element (positive):", my_tuple[4])

# Negative indexing
print("\nFirst element (negative):", my_tuple[-5])
print("Middle element (negative):", my_tuple[-3])
print("Last element (negative):", my_tuple[-1])

## Section 3: Tuple Slicing

### Question 4: Slice a tuple to extract sub-tuples
Extract elements from index 1 to 3, last 2 elements, and every alternate element from (10, 20, 30, 40, 50, 60).

In [ ]:
# Question 4 Solution
numbers = (10, 20, 30, 40, 50, 60)

# Elements from index 1 to 3 (index 3 not included)
print("Slice [1:3]:", numbers[1:3])

# Last 2 elements
print("Last 2 elements:", numbers[-2:])

# Every alternate element
print("Every alternate element:", numbers[::2])

# Reverse slicing
print("Reverse:", numbers[::-1])

# Every alternate element starting from index 1
print("Starting from index 1, every 2nd:", numbers[1::2])

## Section 4: Tuple Unpacking

### Question 5: Unpack a tuple into multiple variables
Unpack the tuple ('Alice', 25, 'Engineer') into three separate variables and print them.

In [ ]:
# Question 5 Solution
person = ('Alice', 25, 'Engineer')
name, age, job = person

print(f"Name: {name}, Age: {age}, Job: {job}")

# Extended unpacking with *
data = (1, 2, 3, 4, 5)
first, *middle, last = data
print(f"\nFirst: {first}, Middle: {middle}, Last: {last}")

### Question 6: Extended unpacking with the * operator
Unpack the tuple (1, 2, 3, 4, 5) so that the first element goes to 'a', the last goes to 'z', and the middle elements go to 'rest'.

In [ ]:
# Question 6 Solution
data = (1, 2, 3, 4, 5)
a, *rest, z = data

print(f"First: {a}")
print(f"Middle: {rest}")
print(f"Last: {z}")

## Section 5: Checking Membership

### Question 7: Check if elements exist in a tuple
Check if 'apple' and 'grape' are in the tuple ('apple', 'banana', 'orange') using 'in' and 'not in' operators.

In [ ]:
# Question 7 Solution
fruits = ('apple', 'banana', 'orange')

print("'apple' in fruits:", 'apple' in fruits)
print("'grape' in fruits:", 'grape' in fruits)
print("'banana' not in fruits:", 'banana' not in fruits)
print("'grape' not in fruits:", 'grape' not in fruits)

## Section 6: Tuple Length and Counting

### Question 8: Find the length and count occurrences
Find the length of the tuple (1, 2, 2, 3, 2, 4) and count how many times 2 appears.

In [ ]:
# Question 8 Solution
numbers = (1, 2, 2, 3, 2, 4)

length = len(numbers)
count_of_2 = numbers.count(2)

print(f"Length of tuple: {length}")
print(f"Count of 2: {count_of_2}")

# Find index of first occurrence of 2
index_of_2 = numbers.index(2)
print(f"Index of first 2: {index_of_2}")

## Section 7: Concatenation and Repetition

### Question 9: Concatenate and repeat tuples
Concatenate tuples (1, 2) and (3, 4), and repeat (5, 6) three times.

In [ ]:
# Question 9 Solution
tuple1 = (1, 2)
tuple2 = (3, 4)
tuple3 = (5, 6)

# Concatenation
concatenated = tuple1 + tuple2
print("Concatenation:", concatenated)

# Repetition
repeated = tuple3 * 3
print("Repetition:", repeated)

# Combination
combined = (tuple1 + tuple2) * 2
print("Combined:", combined)

## Section 8: Nested Tuples

### Question 10: Work with nested tuples
Create a nested tuple representing a matrix and access specific elements: ((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
# Question 10 Solution
matrix = ((1, 2, 3), (4, 5, 6), (7, 8, 9))

print("Entire matrix:", matrix)
print("First row:", matrix[0])
print("Second row:", matrix[1])
print("Element at row 0, col 2:", matrix[0][2])
print("Element at row 2, col 1:", matrix[2][1])

# Iterate through nested tuple
print("\nAll elements:")
for row in matrix:
    for element in row:
        print(element, end=" ")
    print()