#tuple pratice  question

In [3]:
#create an tuple 
tu=()
print(type(tu))

<class 'tuple'>

In [1]:
#reate a tuple with mixed data types (int, float, string)
tup=input()
print(tup)

"yubraj" 1 11.1

In [5]:
#How do you access the first and last element of a tuple?
first_element = tup[0]
last_element = tup[-1]  
print("First element:", first_element)
print("Last element:", last_element)

First element: "
Last element:

In [7]:
#Write a program to find the length of a tuple.
print(len(tup))

16

In [9]:
#check whether an element exist in a tuple or not 
tup= (1,2,3,3,4,4,5,5,5)
print(33 in tup)

False

In [10]:
#tuple in one element 
tup=(5,)
print(tup)

(5,)

In [12]:
#convert list to tuple 
a=[1,3,4,5,6,7]
tu=tuple(a)
print(tu)

(1, 3, 4, 5, 6, 7)

intermediat question

In [13]:
#maximum and minimum element in a tuple
tup=(1,2,3,4,5,6,7,8,9)
print("Maximum element:", max(tup))
print("Minimum element:", min(tup))

Maximum element: 9
Minimum element: 1

In [14]:
#count how many time an element occur in a tuple
tup=(1,2,3,4,5,5,5,5,5)
print(tup.count(5))

5

In [15]:
#Find the index of an element in a tuple.
tup=(1,2,3,4,5,6,7,8,9)
print(tup.index(5))

4

In [16]:
#Reverse a tuple without using reverse().
print(tup[::-1])

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [18]:
#Unpack a tuple
t=(10,20,30)
a,  b, c,= t
print(a, b ,c,)

10 20 30

In [19]:
#join two tuple 
a=(1,2,3,4)
b=(5,6,7,8)
c=a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8)

In [20]:
#modify a tuple by converting it to a list and back to a tuple
tup=(1,2,3,4,5) 
list_tup=list(tup)
list_tup.append(6)
tup=tuple(list_tup)
print(tup)

(1, 2, 3, 4, 5, 6)

Advance question

In [33]:
#sum of element using loops 
t=(1,2,3,4,5,5)
total=0
for i in t:
    total= total+i
    print(total)

1
3
6
10
15
20

In [35]:
#remove duplicates 
t=(1,2,34,4,5,2,2,2,2,2,2,2)
temp=set(t)
print(temp)
y=tuple(temp)
print(y)

{1, 2, 34, 4, 5}
(1, 2, 34, 4, 5)

In [36]:
#sort a tuple of tuples based on the second element of each tuple
t=((1,2),(3,1),(5,0),(2,4)) 
sorted_t=tuple(sorted(t, key=lambda x: x[1]))
print(sorted_t)

((5, 0), (3, 1), (1, 2), (2, 4))

In [55]:
# sort a tuple without using sort()

# Note: tuples don't have .sort() (that's a list method).

# We can use sorted(), which returns a NEW list, then convert to tuple.



t = (12, 3, 4, 5, 5, 6, 6)



sorted_tuple = tuple(sorted(t))

print('Original tuple:', t)

print('Sorted tuple  :', sorted_tuple)

Original tuple: (12, 3, 4, 5, 5, 6, 6)
Sorted tuple  : (3, 4, 5, 5, 6, 6, 12)

In [41]:
#sor a tuple
t= (12,3,4,5,5,6,6)
t=tuple(sorted(t))
print(t)

(3, 4, 5, 5, 6, 6, 12)

In [54]:
# Find the second largest number in a tuple

t = (5, 3, 4, 2, 1, 6, 7, 8)



# Method 1: Using a loop (finds 2nd largest DISTINCT value)

# We start with very small numbers so any real number is bigger.

first = float('-inf')   # largest so far

second = float('-inf')  # second largest so far



for num in t:

    # If we found a new largest, the old largest becomes second.

    if num > first:

        second = first

        first = num

    # If num is between first and second, update second.

    elif first > num > second:

        second = num



if second == float('-inf'):

    print('No second-largest (need at least 2 distinct values).')

else:

    print('Second largest number is:', second)



# Method 2: Without a loop (sorting)

distinct_sorted = sorted(set(t))

if len(distinct_sorted) < 2:

    print('No second-largest (need at least 2 distinct values).')

else:

    print('Second largest (no-loop) is:', distinct_sorted[-2])

Second largest number is: 7
Second largest (no-loop) is: 7